include modules/nav
+nav('investors')
header._top-section
  ._top-section-content
    ._text 
      h3 Finance your university or college degree with Brighter Investment
      ul
        li HI LIST ITEM
        li HI LIST ITEM
        li HI LIST ITEM
    button.ui.button DIT IS EEN KNOP


br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br

p asdasdasds


p asdasdsd


p asdsd


